extends layout

block content
  div
    .bg#about
  #content.me
    #info
      = "Hello, there!"
      p
        = "Nice to meet you. My name is Solon Aguiar. I am a software developer that loves learning new stuff."
      p
        = "Yes, I do know that sounds like a clichê, but that is true!"
