extends layout

block content
  #content
    h1#name="Solon Aguiar"
    div#warning
      h2="New personal page"
      p Welcome to my new webpage. It is still under construction.<br/>Old page found 
        a(href="/old", target="_blank") here
        .
