extends layout

block content
  #content
    h1#name
      a(href="//bit.ly/14Mg35s", target="_blank") SOLON AGUIAR
    div#warning
      h2="New personal page"
      p Welcome to my new webpage. It is still under construction.<br/>Old page found 
        a(href="/old", target="_blank") here
        .
