extends layout

block content
  div
    .bg#home
  a(href="//github.com/solon-aguiar", target="_blank")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
  #content
    h1#name
      a(href="//bit.ly/14Mg35s", target="_blank") SOLON AGUIAR
    div#warning
      h2="New personal page"
      p Welcome to my new webpage. It is still under construction.<br/>Old page found 
        a(href="/old", target="_blank") here
        .
