extends layout

block content
  #content
    h1= "New personal page"
    p Welcome to my new webpage. It is still under construction. Old page found 
      a(href="/old", target="_blank") here
      .
