a {
  color: #00B7FF;
}
body {
  overflow: hidden;
  margin: 0px;
}
#content {
  left: 275px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-family: "Helvetica Neue", Tahoma, sans-serif;
  font-weight: normal;
  font-size: 22px;
}
#warning {
  height: 100%;
  background: black;
  opacity: 0.8;
  padding-left: 5px;
  border-left: thick solid white;
}
h1,
h2 {
  margin-top: 0px;
  color: white;
}
#name {
  opacity: 0.99;
  left: -275px;
  width: 275px;
  margin-bottom: -99px;
  padding-top: 45px;
  position: relative;
  background: black;
}
#content p {
  margin-bottom: 5px;
  color: white;
}
#bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
